* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
body.loaded {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

[class*=__container] {
  max-width: 80%;
  margin: 0 auto;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background-color: #000;
  z-index: 1000;
}
.loaded .intro {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.loaded .intro video {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100vw;
  flex: 0 0 auto;
  transform: translateY(-100%);
  transition: transform 350ms 0.1s;
}
.start .header {
  transform: none;
}
.header__container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  display: flex;
  font-weight: bold;
  font-size: 36px;
  -moz-column-gap: 7px;
       column-gap: 7px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: #fff;
}
.header__logo span:nth-child(2) {
  background-color: #ff9900;
  color: #000;
  border-radius: 5px;
  padding: 3px;
}
.header__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.header__item {
  display: flex;
}
.header__link {
  font-size: 18px;
  color: #ff9900;
  font-weight: bold;
  transition: color 350ms;
  text-decoration: none;
  position: relative;
}
.header__link::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #ff9900;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: left 350ms, width 350ms, background-color 350ms;
}
.header__link:hover {
  color: #fff;
}
.header__link:hover::after {
  width: 100%;
  left: 0%;
  background-color: #fff;
}
@media (max-width: 760px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
}

.main {
  flex: 1 0 auto;
  box-sizing: border-box;
  padding: 100px 0 0 0;
}
.main__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 100px;
}
.main__title {
  font-size: 92px;
  max-width: 750px;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 550ms, opacity 550ms;
}
.main__title span {
  color: #ff9900;
}
.start .main__title {
  transform: none;
  opacity: 1;
}
.main .counter {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 550ms, opacity 550ms;
}
.start .main .counter {
  transform: none;
  opacity: 1;
}
.main .counter__subtitle {
  font-size: 64px;
}
.main .counter__content {
  font-size: 128px;
  letter-spacing: 20px;
  color: #ff9900;
  font-weight: bold;
}
.main .counter__posttitle {
  font-size: 80px;
}
@media (max-height: 900px) {
  .main {
    padding: 80px 0 0 0;
  }
  .main__container {
    row-gap: 80px;
  }
  .main__title {
    font-size: 72px;
  }
  .main .counter__subtitle {
    font-size: 44px;
  }
  .main .counter__content {
    font-size: 108px;
  }
  .main .counter__posttitle {
    font-size: 60px;
  }
}
@media (max-height: 750px) {
  .main {
    padding: 60px 0 0 0;
  }
  .main__container {
    row-gap: 60px;
  }
  .main__title {
    font-size: 52px;
    max-width: 420px;
  }
  .main .counter__subtitle {
    font-size: 34px;
  }
  .main .counter__content {
    font-size: 88px;
    letter-spacing: 5px;
  }
  .main .counter__posttitle {
    font-size: 40px;
  }
}
@media (max-height: 650px) {
  .main {
    padding: 30px 0 0 0;
  }
  .main__container {
    align-items: center;
    text-align: center;
  }
  .main .counter {
    align-items: center;
  }
  .main__title {
    font-size: 32px;
    max-width: 100%;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}
.bg video {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100vw;
  height: 100%;
}

.footer {
  flex: 0 0 auto;
  padding: 7px 0 7px 0;
  font-size: 14px;
  background-color: #000;
}
.footer .footer__rights {
  float: left;
}